name: Continuous Integration

on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * 1-5'
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set git global config (Windows)
      if: ${{ matrix.os == 'windows-latest' }}
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
        git config --global core.filemode false
        git config --global core.fscache true
        git config --global core.longpaths true
        git config --global core.preloadindex true
        git config --global branch.autosetuprebase always
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # tag: v6.0.2
      with:
        fetch-depth: 1
        persist-credentials: false
    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # tag: v6.2.0
      with:
        node-version: lts/-1
    - name: Cache node_modules
      id: cache-node-modules
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # tag: v5.0.3
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}-node-modules
    - name: Install
      if: steps.cache-node-modules.outputs.cache-hit != 'true'
      run: yarn install --immutable
    - name: Test
      run: yarn test
